{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mt-3 mx-auto">
            <h3>{% trans "Sign In" %}</h3>
            <p>{% blocktrans with site.name as site_name %}Welcome back to MyPortfolio,
                a website where you can share your portfolio with future employers or get feedback from
                others.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mt-3 mx-auto">
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            <form class="login form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction"
                    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}