{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %} {% load static %}

<!-- Profile image -->

<div class="col-12 col-md-6 col-lg-4 col-xl-2 mx-auto">
  <div class="card border shadow m-3">
    <div class="card-body bg-dark rounded-3">
      <img class="card-img img-fluid w-100" {% if "placeholder" in user.profile.image.url %}src="{% static 'img/blank_profile.webp' %}"{% else %}src="{{ user.profile.image.url }}"{% endif %} alt="{{ user.profile }}">
    </div>
  </div>
</div>


<!-- User and profile information -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 d-flex flex-column mx-auto">
      <h4 class="border-bottom mb-4 mt-2 border-top text-center">{{ user.username|capfirst }}'s information</h4>
      <p class="text-center">Name : {{ user.profile.first_name }} {{ user.profile.last_name }}</p>
      <p class="text-center">Email: {{ user.email }}</p>
      <form class="text-center form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form | crispy }}
        <h4 class="border-bottom mb-4 text-center">Profile information:</h4>
        {{ p_form | crispy }}
        <button class="btn btn-outline-info m-2 w-50 mb-5" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>

<!-- User projects information -->
<div class="container">
  <div class="row">
    <h4 class="border-bottom mb-4 text-center">{{ user.username|capfirst }}'s projects:</h4>
    {% for project in projects %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card border shadow m-3">
        <div class="card-body rounded-3 bg-dark">
          <a href="{% url 'project_detail' project.id project.slug %}">
            {% if "placeholder" in project.image.url %}
            <img class="card-img-top img-fluid w-100 bg-dark"
              src="https://res.cloudinary.com/dljlkuktp/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1684335041/MyPortfolio-masthead_bttlvb.jpg"
              alt="{{ project.title }}">
            {% else %}
            <img class="card-img-top img-fluid w-100 bg-dark" src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body bg-dark rounded-3">
              <h3 class="text-decoration-none text-white">
                {{ project.title }}
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12 mx-auto">
      <h3 class="text-danger">
        No projects found for {{ user.username }}.
      </h3>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}