html, body {
    height: 100%;
}

body {
    background: white;
}

body > footer {
    position: sticky;
    top: 100vh;
}

.form *:not(input[type='checkbox']) {
    width: 100%;
}

.p-content {
    word-wrap: break-word;
}

.img-masthead {
    width: 100%;
}



.h3-dev {
    color: white;
    word-break: break-all;
}

.h3-dev:hover {
    color: red;
}

.link-comment {
    color: #4A4A4F;
}

.link-comment:hover {
    color: red;
}

.link-comment-white {
    color: white;
}

.link-comment-white:hover {
    color: red;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.main-header {
    text-decoration: none;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}
.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}



.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
    max-height: 300px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image img {
    object-fit: cover;
    height: 100%;
    max-height: 300px;
}

.card-img-top {
    object-fit: contain;
    max-height: 200px;
    min-height: 200px;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}