{% extends "base.html" %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <form method="POST" action="{% url 'comment_edit' comment.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'project_detail' comment.project.id comment.project.slug %}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}