{% extends "base.html" %}

{% block content%}


<!-- Edit comments structure -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'comment_edit' comment.id %}" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'project_detail' comment.project.id comment.project.slug %}"
                    class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>
<!-- End of edit comments structure -->


{% endblock %}