{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{% block title %} {{ project.title }} {% endblock title %}</h1>
                <p class="post-subtitle">{{ project.developer }} | {{ project.created_on }}</p>
                <p class="justify-content-center d-flex">{{ project.content | safe }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in project.image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ project.image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">

        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            <p class="fw-bold">
                <span class="text-muted">
                    <a class="nav-link" href="{% url 'profile_detail' comment.name %}">{{ comment.name }} {{ comment.created_on }}</a>
                </span>
            </p>
            {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
<div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
      <h3>Leave a comment</h3>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
      </form>
    </div>
</div>
{% else %}
<p class="card-text">Please login to comment</p>
{% endif %}


{% endblock content %}